{% extends "base.twig" %}

{% block content %}
<div class="grid">

    <div class="row cells3">
        <div class="cell"></div>
        <div class="cell">
            <form name="login" method="POST" action=".">

                <div class="grid">

                    <div class="row">
                        <div class="cell">
                            <h2>Sign in</h2>
                            <br/>
                        </div>
                    </div>

                    {% set errors = form.getErrors() %}
                    {% if errors|length > 0 %}
                    <div class="row">
                        <div class="cell">

                            {% for error in errors %}
                                <span class="badge">{{ error }}</span><br/>
                            {% endfor %}

                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text full-size">
                                <label>{{ form.getParam('email', 'label') }}:</label>
                                <input type="text" name="login[email]"
                                       value="{{ form.getParam('email', 'value') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <div class="input-control input-text full-size">
                                <label>{{ form.getParam('password', 'label') }}:</label>
                                <input type="password" name="login[password]"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <button class="button rounded primary" type="submit">Sign in</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="cell"></div>
    </div>

</div>
{% endblock %}