{% if categories[key] is defined %}
    <ul class="unstyled-list">
        {% for category in categories[key] %}
            <li>
                <a href="/category/edit/{{ category.id }}/">{{ category.native_name }}</a>

                {% include "categories/edit-tree-level.twig" with {'key': category.id} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}